---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Burge">
    <div id="root"></div>
    <!-- React / Project08 -->
    <script is:inline src="/js/main.bf67fe7d.js"></script>
</Layout>

<style>
   
</style>
